.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list-empty {
  margin: 20px auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: #000e73;
}
